@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    plain-family: 'Roboto, sans-serif',
  ),
  density: (
    scale: 0
  )
));

// Define a dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$rose-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto, sans-serif',
    plain-family: 'Roboto, sans-serif',
  ),
  density: (
    scale: 0
  )
));

// Default styles
html {
  @include mat.all-component-themes($light-theme);
  height: 100%;
}

// Dark theme class
.dark-theme {
  @include mat.all-component-colors($dark-theme);
  background-color: #303030;
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
